<h2>Add a Restaurant</h2>

<hr>
<%= simple_form_for @restaurant do |r| %>
  <%= r.input :name %>
  <%= r.input :address %>
  <%= r.input :phone %>
  <%= r.input :category, collection: Restaurant::CATEGORIES %>
  <%= r.button :submit, class: 'btn-success btn-block' %>
<% end %>
<hr>


<style type="text/css">
  .form-group {
    margin-bottom: 2em;
  }
</style>
