<h1><%= @restaurant.name %></h1>

<h3 style="font-weight: lighter;"><%= @restaurant.category %></h3>

<p><i class="fa fa-map-marker" aria-hidden="true"></i>
 <%= @restaurant.address %></p>

<p><i class="fa fa-phone" aria-hidden="true"></i>
<%= @restaurant.phone %></p>

<%= link_to "Editer le restaurant", edit_restaurant_path %>

  <%= link_to "Supprimer le restaurant",
        restaurant_path(@restaurant.id),

        data: { confirm: "Etes vous certain?" },
        method: :delete %>

<hr>


<!-- ******VOIR LES REVIEWS ET POUVOIR LES EDITER / SUPPRIMER****** -->


<%= link_to "<-- Retour aux restaurants", restaurants_path %>
